
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/portalexample | apps/portalexample | | base | config
apps/portalbase | apps/portalbase | | base |
apps/portalftpgateway | apps/portalftpgateway | | base |
lib/JumpScale/portal/docgenerator | portal/docgenerator | | jslib |
lib/JumpScale/portal/docpreprocessor | portal/docpreprocessor | | jslib |
lib/JumpScale/portal/html | portal/html | | jslib |
lib/JumpScale/portal/__init__.py | portal/__init__.py | | jslib |
lib/JumpScale/portal/macrolib | portal/macrolib | | jslib |
lib/JumpScale/portal/portal | portal/portal | | jslib |
lib/JumpScale/portal/portalloaders | portal/portalloaders | | jslib |
lib/JumpScale/portal/_socketprocess | portal/_socketprocess | | jslib |
