
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/gridportal/*   | apps/gridportal/ | | base | nodirs
apps/gridportal/utils   | apps/gridportal/utils | | base | 
apps/gridportal/base/*   | apps/gridportal/base | | base | 
apps/gridportal/cfg   | apps/gridportal/cfg | | base | config
