
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic


apps/gridportal/createUsersGroups.py   | apps/gridportal/createUsersGroups.py | | base | 
apps/gridportal/portal_client.py   | apps/gridportal/portal_client.py | | base | 
apps/gridportal/portal_start.py   | apps/gridportal/portal_start.py | | base | 
apps/gridportal/base/*   | apps/gridportal/base/ | | base | 
apps/gridportal/utils   | apps/gridportal/utils | | utils | 
apps/gridportal/cfg   | apps/gridportal/cfg | | base | config
