
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic


apps/agentcontroller/*   | | | base | nodirs
apps/agentcontroller/utils   | | | base | 
apps/agentcontroller/jumpscripts/* |apps/agentcontroller/jumpscripts/ | | base |

