
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/osis/logic/oss              |   | | base | 

apps/oss/base/system__ossmodel/ | base/system__ossmodel/ | | app | 
apps/oss/base/OSS/ | base/OSS/ | | app | 

