
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/processmanager/*   | apps/processmanager/ | | base | nodirs
apps/processmanager/jumpscripts/monitoring | | | base | 
apps/processmanager/jumpscripts/process | | | base | 


