
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/blobserver2/osis/blobstor     |apps/osis/logic/blobstor   | | base | 


