
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

apps/processmanager/jumpscripts/*            | apps/processmanager/jumpscripts/  | | base | 
apps/processmanager/monitoringobjects/*      | apps/processmanager/monitoringobjects/  | | base | 
apps/processmanager/processmanagercmds/*     | apps/processmanager/processmanagercmds/  | | base | 
apps/processmanager/*     | apps/processmanager/  | | base | nodirs

