
#$fileOrDir | $destination | $platform | $type | tagsOrLabels
#types sitepackages, root, base, etc, tmp,bin
#tagslabels: e.g. config
#platform empty means generic

#arakoonStart.py              |  apps/osis/ | | base | 
#tests/                       |  apps/osis/ | | base |
#apps/osis/config             |  apps/osis/cfg  | | base | config

